
#home-footer{
    width:1200px;
    height:320px;
    background-color: plum;
}
/*footer1*/
#home-footer>#footer1{
    background-color: teal;
    height: 60px;
    border-top: 2px solid rgb(0, 51, 172);
    border-bottom: 2px solid rgb(0, 51, 172);
}

#home-footer>#footer1>ul{
    position: relative;

}
#home-footer>#footer1>ul>li{
    margin-right:65px;
    float:left;
}
/*footer2*/
#home-footer>#footer2{
    background-color: thistle;
    height: 60px;
}
#home-footer>#footer2>ul{
    position: relative;
    left:250px;
    top:20px;
}
#home-footer>#footer2>ul>li{
    float:left;
    margin-right:20px;
}
#home-footer>#footer2>ul>li>a{
    color:#444;
}
#home-footer>#footer2>ul>li:nth-child(2)>a{
    font-weight: bold;
}
/*footer3*/
#home-footer>#footer3{
    background-color: tomato;
    height: 60px;
}
#home-footer>#footer3>span{
    display: block;
    text-align: center;
    color:#7e7e7e;
}
/*footer4*/
#home-footer>#footer4{
    background-color: yellowgreen;
    height: 60px;
}
#home-footer>#footer4>span{
    display: block;
    text-align: center;
    color:#444;
}
#home-footer>#footer4>span:first-child{
    position: relative;
    left:150px;
}
#home-footer>#footer4>span:nth-child(2){
    position: relative;
    left:290px;
}
#home-footer>#footer4>span>ul>li{
    float:left;
    margin-right:20px;
}
#home-footer>#footer4>span>ul>li>a{
    color:#444;
}
/*footer5*/
#home-footer>#footer5{
    background-color: olive;
    height: 60px;
}
#home-footer>#footer5>ul{
    position: relative;
    left:380px;
}
#home-footer>#footer5>ul>li{
    float:left;
    color:#333;
    margin-right:10px;
}

#home-footer>#footer5>ul>li>a{
    color:#444;
    font-weight: bold;
}