

#home-header{
    width:1200px;
    height:40px;
    background:url("../../images/bg_lnb.gif") repeat-x;
}

#home-header>ul{
    list-style-type: none;
}

#home-header>ul>li{
    float:left;
}

#home-header>ul>li>a{
    display: block;
}